{% extends "content/base_content.html" %}

{% block content_title %}<p><h2>Interest Groups </h2> 
{% comment %}  <button> <a href="/content/ig_proposal/">Recommend More</a></button> {% endcomment %}	
{% endblock %}

{% block content %}

{% if user.id %}

    {% for ig in subscribed %}
    {% cycle '<div class="row-fluid show-grid">' '' '' %}
        <div class="span4">
        <h3>
        
        <form action="" method="post" class="button-form">
        {% csrf_token %}
            <input type="hidden" name="ig_slug" value="{{ ig.slug }}" />
            <input type="hidden" name="action" value="{% if ig.title in member %}leave{% else %}join{% endif %}" />
            <button class="btn {% if ig.title in member %}btn-success{% else %}btn-primary{% endif %} btn-mini const-width1" type="submit">
                {% if ig.title in member %}Leave{% else %}Join{% endif %}
            </button>
        </form>
        
        <a href="/content/ig/{{ ig.slug }}/votes/">{{ ig }}</a>
        </h3>
        
         {% comment %} 
        <p class="sub-ig">
        <span class="badge">{{ ig.posts }}</span> post{{ ig.posts|pluralize }}
        &nbsp;
        <span class="badge">{{ ig.members }}</span> member{{ ig.members|pluralize }}
        </p>
         {% endcomment %} 
        </div>
    
    {% if forloop.last %}
    </div><hr />
    {% else %} 
    {% cycle '' '' '</div><hr class="hidden-phone" />' %}
    {% endif %}
    
    {% endfor %}
    
    
    {% for ig in interest_groups %}
    {% if ig not in subscribed %}
    {% cycle '<div class="row-fluid show-grid">' '' '' %}
        <div class="span4">
        <h3>
        
        <form action="" method="post" class="button-form">
        {% csrf_token %}
            <input type="hidden" name="ig_slug" value="{{ ig.slug }}" />
            <input type="hidden" name="action" value="{% if ig.title in member %}leave{% else %}join{% endif %}" />
            <button class="btn {% if ig.title in member %}btn-success{% else %}btn-primary{% endif %} btn-mini const-width1" type="submit">
                {% if ig.title in member %}Leave{% else %}Join{% endif %}
            </button>
        </form>
        
        <a href="/content/ig/{{ ig.slug }}/votes/">{{ ig }}</a>
        </h3>
         {% comment %} 
        <p class="sub-ig">
        <span class="badge">{{ ig.posts }}</span> post{{ ig.posts|pluralize }}
        &nbsp;
        <span class="badge">{{ ig.members }}</span> member{{ ig.members|pluralize }}
        </p>
         {% endcomment %} 
        </div>
    
    {% if forloop.last %}
    </div><hr />
    {% else %} 
    {% cycle '' '' '</div><hr class="hidden-phone" />' %}
    {% endif %}
    
    {% endif %}
    {% endfor %}


{% else %}
    
    
    {% for ig in interest_groups %}
    
    {% cycle '<div class="row-fluid show-grid">' '' '' %}
        <div class="span4">
        <h3>
        
        
        <a href="/content/ig/{{ ig.slug }}/votes/">{{ ig }}</a>
        </h3>
                 {% comment %} 
        <p class="sub-ig">
        <span class="badge">{{ ig.posts }}</span> post{{ ig.posts|pluralize }}
        &nbsp;
        <span class="badge">{{ ig.members }}</span> member{{ ig.members|pluralize }}
        </p>
                 {% endcomment %} 

        </div>
    
    {% if forloop.last %}
    </div><hr />
    {% else %} 
    {% cycle '' '' '</div><hr class="hidden-phone" />' %}
    {% endif %}
    
    
    {% endfor %}
    

{% endif %}

    <p>Add your <button> <a href="/content/ig_proposal/">topic recommendations</a></button> 

{% endblock %}

{% block side2 %}
<p> <a class="btn btn-info" href="javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open('http://intabeta.com/content/submit_plugin/?op=edit&output=popup&bkmk='+c(b.location)+'&title='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=200px,width=500px,resizable=1,alwaysRaised=1');a.setTimeout(function(){d.focus()},300)})();">Shortcut</a> Drag into your bookmark bar, then vote or favorite from anywhere</p>

{% endblock %}
{% block side3 %}
{% endblock %}