{% extends 'content/base_content.html' %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Submit an Interest Group proposal" %}{% endblock %}

{% block content %}


<form action="" method="post" class="well">
  <fieldset>
    <legend>{% trans "Propose Interest Group" %}</legend>
    <br />
<p>We’ve been collecting your suggestions, whether for another team or a political issue or an obscure director, even a city. Vent about everything you tend to read (and want to read better) or the things you don’t know well but are interested in. Even if you would read about it only every couple of weeks, you’re not alone in your interest so other Intelligentsia can make the experience better!<p>
    <br />
    {% csrf_token %}
    {{ form|bootstrap }}
  </fieldset>
  <button type="submit" class="btn btn-primary">{% trans "Send Proposal" %}</button>
</form>

<p> We'll take feature <button> <a href="mailto:brian@intabeta.com" target="_blank>">Suggestions</a></button>, or any other comments too! <p>
{% endblock %}

{% block side2 %}
{% endblock %}
{% block side3 %}
{% endblock %}