{% extends 'content/base_content.html' %}
{% load i18n %}

{% block title %}{% trans "Interest Group proposal sent" %}{% endblock %}
{% block content_title %}<h2>{% trans "Interest Group proposal sent" %}</h2>{% endblock %}

{% block content %}
<p>{% trans "Your Interest Group proposal has been submitted. The moderators will examine your request and will inform you if and when the Interest Group will be created." %}</p>
{% endblock %}

{% block side2 %}
{% endblock %}
{% block side3 %}
{% endblock %}