{% extends "content/base_content.html" %}


{% block side2 %}
{% endblock %}

{% block content_title %}<h2>My Interest Groups</h2>{% endblock %}

{% block content %}

{% for ig in subscribed %}
{% cycle '<div class="row-fluid show-grid">' '' '' %}
    <div class="span4"><h3><a href="/content/ig/{{ ig.slug }}/votes/">{{ ig }}</a></h3>
    
    {% comment %}  
    <p class="sub-ig">
    <span class="badge">{{ ig.posts }}</span> post{{ ig.posts|pluralize }}
    &nbsp;
    <span class="badge">{{ ig.members }}</span> member{{ ig.members|pluralize }}
    </p>
     {% endcomment %} 
    </div>

{% if forloop.last %}
</div><hr />
{% else %} 
{% cycle '' '' '</div><hr class="hidden-phone" />' %}
{% endif %}

{% endfor %}
<p> Missing a favorite? Add your <button> <a href="/content/ig_proposal/">topic recommendations</a></button> 

{% endblock %}