{% extends 'content/base_content.html' %}
{% load i18n %}
{% load bootstrap %}

{% block extrahead %}
{% endblock %}

{% block title %}{% trans "Submit URL" %}{% endblock %}

{% block navbar %}
<br />
{% endblock %}

{% block side %}
{% endblock %}
{% block side1 %}
{% endblock %}
{% block side2 %}
{% endblock %}
{% block side3 %}
{% endblock %}

{% block content %}
<div class="pull-left">
<form action="" method="post" class="well">
  {% csrf_token %}
  
 

    {{ form.non_field_errors }}

        {{ form.url.errors }}

        {{ form.url }}
<br />
<h5> Add tags </h5>


		{{ form.tags.errors }}

        {{ form.tags }}
<br />
<button type="submit" name="_post" value="post" class="btn btn-primary">{% trans "Good" %}</button>
<button type="submit" name="_double_post" value="double_post" class="btn btn-primary">{% trans "Great" %}</button>
<button type="submit" name="_favorite" value="favorite" class="btn btn-primary">{% trans "Favorite" %}</button>
</form>
</div>
<div class="pull-right well">
<h5> My Tags </h5>
<ul class="nav nav-pills">
{% for tag in mytags %}<li>{{ tag }}</li> 
<li> Hello </li>
 {% endfor %}
</ul>
<br>
<h5> Suggested Tags </h5>
</div>
{% endblock %}


