{% extends 'content/base_content.html' %}
{% load i18n %}
{% load bootstrap %}

{% block extrahead %}

{% endblock %}

{% block title %}{% trans "Submit URL" %}{% endblock %}

{% block navbar %}
<br />
{% endblock %}

{% block side %}
{% endblock %}
{% block side1 %}
{% endblock %}
{% block side2 %}
{% endblock %}
{% block side3 %}
{% endblock %}

{% block content %}
<form action="" method="post" class="well">
  {% csrf_token %}
  
 

    {{ form.non_field_errors }}

        {{ form.url.errors }}

        {{ form.url }}
<br />

        {{ form.ig.errors }}

        {{ form.ig }}
<br />
		{{ form.tags.errors }}

        {{ form.tags }}
<br />
  <button type="submit" name="_post" value="post" class="btn btn-primary">{% trans "Good" %}</button>
  or
<button type="submit" name="_double_post" value="double_post" class="btn btn-primary">{% trans "Great" %}</button>
  <input name="submit name" type="checkbox" value="{{ post.slug }}"><i class="icon-star"></i>
</form>
<div style="display: none">{{ extra }}</div>
{% endblock %}

