{% load i18n %}
{% load humanize %}
{% load thumbnail %}
{% load content_extras %}

<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inta: Find the Best</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="og:title" content="{{ post.title }}" />
    <meta name="og:type" content="Inta URL" />
    <meta name="og:image" src="{{ MEDIA_URL }}{{ post.logo|default:"site_logos/default.png" }}" />
    
    <link rel="shortcut icon" href="https://twimg0-a.akamaihd.net/profile_images/2590228053/labo2kw9b0zlzvic458r.jpeg" type="image/x-icon" />


    <link href="{{ STATIC_URL }}css/bootstrap1.css?1234" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>


    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">

<style type="text/css">

/*
#lb {
  margin-top: 200px;
  margin-left:80px;
} 
h4 {
  color:black;
}
#draggable { 
  width: 150px; height: 150px; padding: 0.5em; 
}
#brand { 
  margin-left:8px;
}
.side {
  margin: 4px;
}
.delete_tag {
  display:inline;
}
#tag_button {
  background-color:#ddf; 
}
#contentbox:hover + #controls {
    display: block;
}

.ui-menu { 
  width: 150px; 
}

///// shading of an element with hover
.brian_nav ul li:hover {
      background: #4b545f;
      background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
      background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
      background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
    }
*/


.button-form {
    margin: 0px;
    display: inline;
    padding-right: 3px;
}
.well {
  background:#FFFFFF;
  opacity:0.9;
  }
#center {
  margin-top: 80px;
  margin-left: 80px;
}
#rb {
  margin-top: 80px;
  margin-right: 80px;
}
/* All my definitions post 5/13 (learning from TB etc) */

.navsub_container {
  position:fixed;
  top:0%;
  right:0%;
  left:0%;
  z-index: 20000;
  overflow: scroll;
}
.brian_nav {
  overflow: scroll;
  background-color: black;
}
.nav_row {
  display:inline-block;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.brian_subnav--reltags {
  overflow: scroll;
  background-color: black;
  opacity:0.83;
  display:none;
}
.brian_subnav--toptags {
  overflow: scroll;
  background-color: black;
  opacity:0.83;
  display:none;
}
.brian_subnav--mytags {
  overflow: scroll;
  background-color: black;
  opacity:0.83;
  display:none;
}
.brian_subnav--top_sites {
  overflow: scroll;
  background-color: black;
  opacity:0.83;
  display:none;
}
.brian_subnav--signup {
  overflow: scroll;
  background-color: black;
  opacity:1;
  display:none;
}
.brian_subnav--signin {
  overflow: scroll;
  background-color: black;
  opacity:1;
  display:none;
}
.brian_subnav--user {
  overflow: scroll;
  background-color: black;
  opacity:1;
  display:none;
}
.brian_subnav--add_tags {
  overflow: scroll;
  background-color: black;
  opacity:0.83;
  display:none;
}
.show_subnav {
  display:block;
}
.brian_nav .link {
 float: left;
 text-decoration: none;
 font-weight:bold;
 font-size: 15px;
}
.brian_nav .link > li {
 display: inline;
 margin: 0 7px 0 0;
 color: #BFBEBE;
 font-weight:bold;
}
.brian_nav .link > li > a {
 color: #BFBEBE;
 font-weight:bold;
 text-decoration:none;
}
.brian_nav .link a:hover {
  color: white;
  font-weight:bold;
}
.brian_nav .link li:hover {
  color: red;
  font-weight:bold;
}
.brian_nav .link .active > a {
  color: #BFBEBE;
  font-weight: bold;
}
#reltags {
 color: white;
}
#toptags {
 color: white;
}
#signup {
 color: red;
}
#signin {
 color: red 
 }
.add_tags {
 font-size:10px;
 }
#mytags {
 color: white;
}
#user_nav {
 color: white;
 margin-right:20px;
}
#del_mytag {
  color:white;
}
.brian_subnav--header {
  color:white;
  margin: 5px 5px 5px 20px;
  font-size: 14px;
    font-weight: bold;
}
#time_icon {
 display: inline;
 float:left;
 margin: 8px 5px 0 15px;
 border: 1px solid white;
}
#inta_brand {
 color: #ddf;
 display: inline;
 float:left;
 font-size:22px;
 margin-left: 20px;
}
.brian_nav form input {

}
#nonnav {
  border: 2px dashed blue;
}
.brian_subnav--signup form input {
  margin: 0 5px 0 5px;
}
.brian_subnav--signin form input {
  margin: 0 5px 0 5px;
}
.brian_subnav--signup form p {
  color:white;
}
.brian_subnav--signin form p {
  color:white;
}
.brian_subnav--signup form {
  margin: 10px 5px 0 15px;
}
.brian_subnav--signin form {
  margin: 10px 5px 0 15px;
}
.brian_subnav--signup h4 {
  margin: 13px 5px 0 15px;
}
.brian_subnav--signup .bottom-line_signup {
  margin-top: 5px;
  color:#ddf;
}
.brian_subnav--user h2 {
  margin: 5px 0 0 15px;
  color: white;
}
.brian_subnav--user h4 {
  margin: 2px 5px 0 15px;
  color: white;
}
.subnav--active_tags {
  margin: 0 0 0 20px;
  font-size: 13px;
  color:#ddf;
}
.subnav--active_tags a {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: bold;
}
.subnav--active_tags button {
  margin: 0 0 0 15px;
}
.brian_nav p {
  display:inline-block;
  padding-bottom: 2px;
  margin: 8px 5px 4px 0px;
  font-weight:bold;
  font-size: 15px;
}
.brian_nav p a {
  text-decoration: none;
  color: white;
}
.brian_nav p a:hover {
  text-decoration: none;
  color: #317eac;
}
</style>
    

</head>
  
<body style="background:#ddf">
<div class="navsub_container">  <!-- Navbar and Sub_navbar -->
 <div class="brian_nav">
  <div class="nav_row">
      <p id="inta_brand"> inta </p>
      <i class="icon-time" id="time_icon" style="background-color:white"></i>
    {% if domain == '' %}
        <p {% if method == 'decay1' %}class="active"{% endif %}><a href="/decay1/{{ tags }}">30m</a></p>
        <p {% if method == 'decay2' %}class="active"{% endif %}><a href="/decay2/{{ tags }}">3h</a></p>
        <p {% if method == 'decay3' %}class="active"{% endif %}><a href="/decay3/{{ tags }}">1d</a></p>
        <p {% if method == 'decay4' %}class="active"{% endif %}><a href="/decay4/{{ tags }}">3d</a></p>
        <p {% if method == 'decay5' %}class="active"{% endif %}><a href="/decay5/{{ tags }}">1w</a></p>
        <p {% if method == 'decay6' %}class="active"{% endif %}><a href="/decay6/{{ tags }}">4w</a></p>
        <p {% if method == 'decay7' %}class="active"{% endif %}><a href="/decay7/{{ tags }}">12w</a></p>
        <p {% if method == 'decay8' %}class="active"{% endif %}><a href="/decay8/{{ tags }}">yr</a></p>
        <p {% if method == 'votes' %}class="active"{% endif %}><a href="/votes/{{ tags }}">All-time</a></p>
      {% endif %}
      {% if domain != '' %}
        <p {% if method == 'decay1' %}class="active"{% endif %}><a href="/decay1/site/{{ domain }}">30m</a></p>
        <p {% if method == 'decay2' %}class="active"{% endif %}><a href="/decay2/site/{{ domain }}">3h</a></p>
        <p {% if method == 'decay3' %}class="active"{% endif %}><a href="/decay3/site/{{ domain }}">1d</a></p>
        <p {% if method == 'decay4' %}class="active"{% endif %}><a href="/decay4/site/{{ domain }}">3d</a></p>
        <p {% if method == 'decay5' %}class="active"{% endif %}><a href="/decay5/site/{{ domain }}">1w</a></p>
        <p {% if method == 'decay6' %}class="active"{% endif %}><a href="/decay6/site/{{ domain }}">4w</a></p>
        <p {% if method == 'decay7' %}class="active"{% endif %}><a href="/decay7/site/{{ domain }}">12w</a></p>
        <p {% if method == 'decay8' %}class="active"{% endif %}><a href="/decay8/site/{{ domain }}">yr</a></p>
        <p {% if method == 'votes' %}class="active"{% endif %}><a href="/votes/site/{{ domain }}">All-time</a></p>
      {% endif %}
    </div>

<!--
        <form style="display:inline-block; margin: 4px 0 0 0; padding-bottom: 0px; height:30px;">
              {% csrf_token %}
              <input type="text" class="search-query" placeholder="Search tags or text">
        </form>
-->
    <div class="nav_row pull-right">
        <p><a href="/graphtest" target="_blank">Node view</a></p>
        <p> | </p>
        <p id="mytags">My Tags & Sites</p>
        <p> | </p>
        <p id="toptags">Top Tags</p>
        <p> | </p>
        <p id="reltags">Related Tags</p>
        <p> | </p>
        <p id="topsites">Top Sites</p>
        <p> | </p>
        
<!--
        <div style="border:1px solid white" class="navbar-p">
        <p style="border:1px solid white" class="navbar-p"> Boo </p>
        <p class="navbar-p"> Hello HelloHello</p>
        </div>
-->
        
        {% if user.id %}
             <p id="user_nav"> {{ user }} </p>
        {% else %}
          <p id="signin">Sign In</p>
          <p> | </p>
          <p id="signup">Sign Up</p>
        {% endif %}
    </div>
  </div>
  
<!-- SUBNAV Divs-->

  <div class="brian_subnav--reltags">
    <br>
    <p class="brian_subnav--header"> Related tags </p>
    <ul class="nav nav-pills">
                {% for tag in toprelevant %}<li><a href="/{{ method }}/{% if tags != '' %}{{ tags }}+{% endif %}{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</a></li>{% endfor %}
    </ul>
  </div>
  
  <div class="brian_subnav--toptags">
    <br>
    <p class="brian_subnav--header"> Top tags </p>
    <ul class="nav nav-pills">
                {% for tag in toptags %}<li><a href="/{{ method }}/{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</a></li>{% endfor %}
    </ul>
  </div>
  
  <div class="brian_subnav--mytags">
    <br>
        <form action="" method="post" class="button-form subnav--active_tags">
            {% csrf_token %}
            Active tags: {% for tag, slug in breadcrumbdata %} <a id="tag_saved" href="/{{ method }}/{{ slug }}/" style="color:inherit">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<input type="hidden" name="tags" value="{{ tags }}" />
            <input type="hidden" name="action" value="addfavtag" />
            <button class="btn" id="tag_button" type="submit">Save to {{ user }}</button>
        </form>
    <p class="brian_subnav--header"> My tags</p>
    <ul class="nav nav-pills">
                  {% for tags, name in mytags %}<li><a href="/{{ method }}/{{ tags }}">{{ name }}</a>    
                  <form action="" method="post" class="button-form" id="del_mytag">
                      {% csrf_token %}
                      <input type="hidden" name="mytag_x" value="{{ tags }}" />
                      <input type="hidden" name="action" value="delete_mytag" />
                      <button type="submit" class="close">&times;</button></li>
                  </form>
                  {% endfor %}
    <p class="brian_subnav--header"> My Sites</p>
                  {% for sites, name in mysites %}<li><a href="/{{ method }}/{{ tags }}">{{ name }}</a>    
                  <form action="" method="post" class="button-form" id="del_mytag">
                      {% csrf_token %}
                      <input type="hidden" name="mytag_x" value="{{ tags }}" />
                      <input type="hidden" name="action" value="delete_mytag" />
                      <button type="submit" class="close">&times;</button></li>
                  </form>
                  {% endfor %}
    </ul>
  </div>
  
  <div class="brian_subnav--signup">
    <form action="" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert alert-error">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
      <p>Username: {{ signupform.username }}
      Email: {{ signupform.email }}
      Password: {{ signupform.password1 }}
      Confirm Password: {{ signupform.password2 }}
      <br>
      <div class="bottom-line_signup">
        <input type="radio" name="bookmark" value="install">Bookmark the voting / tagging shortcut 
        <input type="radio" name="bookmark" value="no_install">Don't (but it's your tool for contributing)
        <input type="hidden" name="action" value="signup" />
        <button type="submit" class="btn">{% trans "Sign Up" %}</button>
      </div>
    </form>
  </div>
          
  <div class="brian_subnav--signin">
    <form action="" method="post">
      {% csrf_token %}
      <p>Username: {{ signinform.identification }}
      Password: {{ signinform.password }}
      <br>
      Remember me: {{ signinform.remember_me}}</p>
      <input type="hidden" name="action" value="signin" />
      <button type="submit" class="btn">{% trans "Sign In" %}</button>
    </form>
  </div>
  
  <div class="brian_subnav--user">
      <h2> Functionality to come </h2>
      <h4> Here and for the rest of the site. Send me an email (bwloeb5@gmail.com) to talk about it </h4>
          <ul class="nav nav-pills">
                  <li><a href="/accounts/{{ user }}/">Settings</a></li>
                  <li><a href="/accounts/{{ user }}/">My Goods</a></li>
                  <li><a href="/accounts/{{ user }}/">My Greats</a></li>
                  <li><a href="/accounts/{{ user }}/">My Favorites</a></li>
                  <li><a href="/accounts/{{ user }}/">My Shared</a></li>
                  <li><a href="/accounts/signout/">Sign Out</a></li>
          </ul>  
  </div> 
  
  <div class="brian_subnav--add_tags">
     <p class="brian_subnav--header"> Add away - 1 or many </p>  
     <form action="" method="post">
            {% csrf_token %}    
            New tag(s): <input type="text" name="tags">
          <button type="submit" class="btn">{% trans "Sign Up" %}</button>
      </form>
  </div> 
  
  <div class="brian_subnav--top_sites">
     <p class="brian_subnav--header"> Top Sites  </p>  
        <ul class="nav nav-pills">
            {% for site in topsites %}<li><a href="/{{ method }}/site/{{ site }}">{{ tag.0 }} ({{ tag.1 }})</a></li>{% endfor %}
        </ul>
  </div>  
</div> 



<!-- END NAVBAR and SUB-NAVBAR -->

<!-- LIST -->

     <div class="span7 well" id="center" style="border: 1px solid gray">
       <h2 style="border-bottom: solid #ddf">
            Tags :{% for tag, slug in breadcrumbdata %} <a id="tag_saved" href="/{{ method }}/{{ slug }}/" style="color:inherit">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<input type="hidden" name="tags" value="{{ tags }}" />
        </h2>
        
          <table class="table table-condensed">
            <tbody>
              {% if postdata %}
              {% for post, score, tagscores in postdata %}
              <tr>
              <td>
                <a href="/{{ method }}/site/{{ post.domain }}">
                <img style="max-width: 40px;" src="{{ MEDIA_URL }}{{ post.logo|default:"site_logos/default.png" }}" width="40" title="{{ post.domain }}" alt="{{ post.title }}" />
                </a>
              </td>
              <td>
                <span class="badge {{ post.date_added|bubble_color }}">{{ score }}</span>&nbsp;
                  <strong><a href="{{ post.url }}" onClick="_gaq.push(['_trackEvent', 'Nikos GA?', 'Link', '{{ post.title }}']);" class="main-link" target="_blank">
                  {% if post.title == "Untitled" %}
                    {{ post.url }}
                  {% else %}
                    {{ post.title }}
                  {% endif %}
                  </a></strong>
                  &nbsp;{{ post.date_added|date:"M j" }}
                  <br />
                  {% for tag in tagscores %}
                    <span class="label"><a href="/{{ method }}/{% if tags != '' %}{{ tags }}+{% endif %}{{ tag.0 }}/" style="color:#FFFFFF">  {{ tag.0 }} ({{ tag.1 }})</a></span>
                  {% endfor %}
                  <button class"btn"><i class="icon-tags add_tags"></i></button>
                  <br />
                  <div> 

              <form action="" method="post" class="button-form">
              {% csrf_token %}
                        <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                        <input type="hidden" name="action" value="vote" />
                        <button class="btn btn-mini const-width {% if post.slug in voter %}btn-success{% endif %}" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                          Good
                        </button>
                    </form>                   
            <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="double_vote" />
                <button class="btn btn-mini const-width {% if post.slug in double_voter %}btn-success{% endif %}" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Great    
                  </button>
              </form>
              
        <div style="display:inline-block; margin-right:0px;">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url }}" data-text="@inta_beta">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      
     <div class="fb-like" data-href="{{ post.url }}" data-send="false" data-layout="button_count" data-width="350" data-show-faces="false"></div>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=461289420626616";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
      
        </div>
       </td>
       </tr>
       {% endfor %}
             {% else %}
          <tr>
          <td>
          We've got no URLs for that Tag. Want to make the first?
          </td>
          </tr>
            {% endif %}
          </tbody>
        </table>
        <hr />
      </div>


       <div class="well span3" id="rb">
          <a class="btn" href="javascript:bookmark()">Click to add shortcut</a>
             <a class="btn" id="button--shortcut" href="javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open('http://intabeta.com/content/submit_plugin/?op=edit&output=popup&bkmk='+c(b.location)+'&title='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=200px,width=500px,resizable=1,alwaysRaised=1');a.setTimeout(function(){d.focus()},300)})();">INTA Shortcut</a></p><p style="padding: 0px 15px;">Tag and vote from anywhere </p>
        </div>

<script type="text/javascript">
var url = "javascript:(function()%7Bvar a%3Dwindow,b%3Ddocument,c%3DencodeURIComponent,d%3Da.open(%27http://intabeta.com/content/submit_plugin/%3Fop%3Dedit%26output%3Dpopup%26bkmk%3D%27%2Bc(b.location)%2B%27%26title%3D%27%2Bc(b.title),%27bkmk_popup%27,%27left%3D%27%2B((a.screenX%7C%7Ca.screenLeft)%2B10)%2B%27,top%3D%27%2B((a.screenY%7C%7Ca.screenTop)%2B10)%2B%27,height%3D200px,width%3D500px,resizable%3D1,alwaysRaised%3D1%27)%3Ba.setTimeout(function()%7Bd.focus()%7D,300)%7D)()%3B"; //Change these
var pageName = "Inta shortcut"; //Change these
function bookmark() {
    if (window.external) {
        window.external.AddFavorite(url, pageName);
    } else {
        alert("Sorry! Your browser doesn't support bookmarks.");
    }
}
</script>






 <!--  SUBNAV
      <div class="span2 well pull-right" id="rb" style="border: 1px solid gray">
        <div class="URL_description">
          Post description with Hover...
          {{ post.summary|default_if_none:"" }}
        </div>
      </div>
    </div>
-->


<!--        FOR NAVBAR

Using only CSS, wouldn't close the relevant tags <li>
            <ul class="nav nav-pills" style="border: 1px dashed white">
                {% for tag in toprelevant %}<li><a href="/{{ method }}/{% if tags != '' %}{{ tags }}|{% endif %}{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</a></li>{% endfor %}
            </ul>
            </li>
-->
<!--      To add
Caret for help, mission statement, blog, recommendations etc...
<li>Headlines</li>
-->


<!--    LEFT SIDEBAR
    {% if user.id %}
              <div>
                <h3> <i class="icon-user"></i>    {{ user }}
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                </h3>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/{{ user }}/">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Good</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Great</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Favorites</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Shared</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/signout/">Sign Out</a></li>
                </ul>   
              </div>
          {% endif %}
          </div>
-->
          
<!-- 
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inverse">
      <div class="navbar-inner">    
          <a class="brand" id="brand" href="/"><strong>inta</strong></a>
          {% if user.id %}
              <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user"></i> {{ user }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/{{ user }}/">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Good</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Great</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Favorites</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Shared</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/signout/">Sign Out</a></li>
                </ul>   
              </div>
          {% else %}
          <div class="btn-group pull-right">
          <a href="#sign_up" role="button" class="btn" data-toggle="modal">Sign Up</a>
      <div id="sign_up" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <h3 id="myModalLabel">Sign Up</h3>
        </div>
        <form action="" method="post" class="well">
          {% csrf_token %}
          <fieldset>
          <legend>{% trans "Sign up" %}</legend>
          <br />
          {% if form.non_field_errors %}
            <div class="alert alert-error">
              {{ form.non_field_errors }}
            </div>
          {% endif %}
          {% for field in form %}
            {% if field.errors %}
              <div class="alert alert-error">
            {% endif %}
          {{ field.errors }}
            {% if field.name == 'tos' %}
              <p class="checkbox">
              <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
              </p>
            {% else %}
              <p>
              {{ field.label_tag }} 
              {{ field }}
              </p>
            {% endif %}
            {% if field.errors %}
              </div>
            {% endif %}
          {% endfor %}
          </fieldset>
          <button type="submit" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">{% trans "Sign up" %}</button>
      </form>
      </div>
      
          <a href="#log_in" role="button" class="btn" data-toggle="modal">Log In</a>
          </div>  
          
          

            
          {% endif %}

        <div class="nav-collapse">  
            <ul class="nav">          
              <li{% ifequal request.path '/content/submit/' %} class="active"{% endifequal %}><a href="/content/submit/">Submit Content</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <br>
  -->
  
  
<!--  SUBNAV
    <div class="row">
      <div class="span3" id="lb">
        <div class="well" style="border: 1px solid gray">
          <div>
            <h3> Inta </h3>
            <form>
              {% csrf_token %}
              <input type="text" class="search-query" placeholder="Search tags or text">
            </form>
          </div>
          <div id="accordion4" style="border: 1px solid gray">
            <h4> Top Sites <i class="icon-chevron-down"></i></h4>
            <ul class="nav nav-pills">
                {% for site in topsites %}<li><a href="/{{ method }}/site/{{ site }}">{{ tag.0 }} ({{ tag.1 }})</a></li>{% endfor %}
            </ul>
          </div>
          <div id="accordion" style="border: 1px solid gray">
            <h4> Top Tags <i class="icon-chevron-down"></i></h4>
                {% for tag in toptags %}<p style="display:inline; padding:4px"><a href="/{{ method }}/{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</a></p>{% endfor %}
            </ul>
            </div>
          <div id="accordion2"  class="clearfix" style="border: 1px solid gray">
            <h4> Relevant Tags <i class="icon-chevron-down"></i></h4>
            <ul class="nav nav-pills">
                {% for tag in toprelevant %}<li><a href="/{{ method }}/{% if tags != '' %}{{ tags }}|{% endif %}{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</a></li>{% endfor %}
            </ul>
           </div>
      </div>
--> 
      
      
      
      
<!--
      <div class="well clear" style="border: 1px solid gray">
        <div>
            <h3> Inta </h3>
            <form>
              {% csrf_token %}
              <input type="text" class="search-query" placeholder="Search tags or text">
            </form>
          </div>
        <h4> Top Sites </h4>
           <select onchange="setLocation(this, '<?php echo $this->getUrl(); ?>')">
            {% for site in topsites %}<option value="{{ method }}/{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</option>{% endfor %}
           </select> 
        <h4> Top Tags </h4>
           <select onchange="setLocation(this, '<?php echo $this->getUrl(); ?>')">
            {% for tag in toptags %}<option value="{{ method }}/{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</option>{% endfor %}
           </select>  
        <h4> Relevant Tags </h4>
           <select onchange="setLocation(this, '<?php echo $this->getUrl(); ?>')">
            {% for tag in toprelevant %}<option value="{{ method }}/{% if tags != '' %}{{ tags }}|{% endif %}{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</option>{% endfor %}
           </select>
      </div>
-->


 <!--  SUBNAV
      <div class="well clear" style="border: 1px solid gray">
          <div>
          {% if user.id %}
              <div>
                <h3> <i class="icon-user"></i>    {{ user }}
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                </h3>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/{{ user }}/">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Good</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Great</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Favorites</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Shared</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/signout/">Sign Out</a></li>
                </ul>   
              </div>
          {% endif %}
          </div>
          <div id="accordion3"  class="clearfix" style="border: 1px solid gray">
              <h4>  My Tags  <i class="icon-chevron-down"></i></h4>
              <ul class="nav nav-pills">
                  {% for tags, name in mytags %}<li><a href="/{{ method }}/{{ tags }}">{{ name }}</a>    
                  <form action="" method="post" class="button-form">
                      {% csrf_token %}
                      <input type="hidden" name="mytag_x" value="{{ tags }}" />
                      <input type="hidden" name="action" value="delete_mytag" />
                      <button type="submit" class="close">&times;</button></li>
                  </form>
                  {% endfor %}
              </ul>
           </div>
          <a href="#submit" role="button" class="btn" data-toggle="modal">Submit</a>
            <div id="submit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <h3 id="myModalLabel">Submit</h3>
              </div>
              <div>
                   <a class="btn btn-info" href="javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open('http://intabeta.com/content/submit_plugin/?op=edit&output=popup&bkmk='+c(b.location)+'&title='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=200px,width=500px,resizable=1,alwaysRaised=1');a.setTimeout(function(){d.focus()},300)})();">INTA Shortcut</a>
              </div>
              <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
          </div>
-->
          
          
          
          
          <!--
           <div>
            <h4> To Share </h4>
            <ul>
                {% for URL in URL_share %}<li>{{ URL_share }}</li>{% endfor %}
                <li> Sharing List, buttons to modals </li>
                <li> { for URL in URL_share } </li>
            </ul>
             <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="email_modal" />
                <button class="btn btn-mini const-width" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Email    
                  </button>
              </form>
               <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="FB_modal" />
                <button class="btn btn-mini const-width" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Facebook    
                  </button>
              </form>
               <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="Tw_modal" />
                <button class="btn btn-mini const-width" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Twitter    
                  </button>
              </form>
            </div>
          -->
          
 <!--  SUBNAV
        </div>
     </div>
-->
   
<!--
        {% if domain == '' %}
    <i class="icon-time"></i>
    <select onchange="setLocation(this, '<?php echo $this->getUrl(); ?>')">
      <option value="decay1/{{ tags }}"{% if method == 'decay1' %} selected="selected"{% endif %}>Half Hour</option>
      <option value="decay2/{{ tags }}"{% if method == 'decay2' %} selected="selected"{% endif %}>Few Hours</option>
      <option value="decay3/{{ tags }}"{% if method == 'decay3' %} selected="selected"{% endif %}>Day </option>
      <option value="decay4/{{ tags }}"{% if method == 'decay4' %} selected="selected"{% endif %}>Few Days</option>
      <option value="decay5/{{ tags }}"{% if method == 'decay5' %} selected="selected"{% endif %}>Week</option>
      <option value="decay6/{{ tags }}"{% if method == 'decay6' %} selected="selected"{% endif %}>Month</option>
      <option value="decay7/{{ tags }}"{% if method == 'decay7' %} selected="selected"{% endif %}>Few Months</option>
      <option value="decay8/{{ tags }}"{% if method == 'decay8' %} selected="selected"{% endif %}>Year</option>
      <option value="votes/{{ tags }}"{% if method == 'votes' %} selected="selected"{% endif %}>All-time</option>
    </select>
    {% endif %}
        {% if domain != '' %}
    <i class="icon-time"></i>
    <select onchange="setLocation(this, '<?php echo $this->getUrl(); ?>')">
      <option value="decay1/site/{{ domain }}"{% if method == 'decay1' %} selected="selected"{% endif %}>Half Hour</option>
      <option value="decay2/site/{{ domain }}"{% if method == 'decay2' %} selected="selected"{% endif %}>Few Hours</option>
      <option value="decay3/site/{{ domain }}"{% if method == 'decay3' %} selected="selected"{% endif %}>Day </option>
      <option value="decay4/site/{{ domain }}"{% if method == 'decay4' %} selected="selected"{% endif %}>Few Days</option>
      <option value="decay5/site/{{ domain }}"{% if method == 'decay5' %} selected="selected"{% endif %}>Week</option>
      <option value="decay6/site/{{ domain }}"{% if method == 'decay6' %} selected="selected"{% endif %}>Month</option>
      <option value="decay7/site/{{ domain }}"{% if method == 'decay7' %} selected="selected"{% endif %}>Few Months</option>
      <option value="decay8/site/{{ domain }}"{% if method == 'decay8' %} selected="selected"{% endif %}>Year</option>
      <option value="votes/site/{{ domain }}"{% if method == 'votes' %} selected="selected"{% endif %}>All-time</option>
    </select>
    {% endif %}
-->
<!--
        <select name="minbeds" id="minbeds">
              <option href="/decay1/{{ tags }}">30 mins</option>
              <option>Few hours</option>
            <option>A day</option>
              <option>3 Days</option>
              <option>A Week</option>
              <option>Few Months</option>
              <option>A Year</option>
              <option>All-time</option>
            </select>
          
       <ul id="menu" class="nav nav pills" style="border: 1px solid gray">
-->
<!--
              <form id="reservation">
          <label for="minbeds">Minimum number of beds</label>
            <select name="minbeds" id="minbeds">
              <option>30 mins</option>
              <option>Few hours</option>
            <option>A day</option>
              <option>3 Days</option>
              <option>A Week</option>
              <option>Few Months</option>
              <option>A Year</option>
              <option>All-time</option>
            </select>
        </form>
-->


<!--  SELECT MENU
              <li>
          <a href="#">Time Period <i class="icon-time"></i></a>
          <ul class="nav nav pills" style="border:1px solid gray">
              <li {% if method == 'decay1' %}class="active"{% endif %}><a href="/decay1/{{ tags }}">30 mins</a></li>
              <li {% if method == 'decay2' %}class="active"{% endif %}><a href="/decay2/{{ tags }}">Few hours</a></li>
              <li {% if method == 'decay3' %}class="active"{% endif %}><a href="/decay3/{{ tags }}">A day</a></li>
              <li {% if method == 'decay4' %}class="active"{% endif %}><a href="/decay4/{{ tags }}">3 Days</a></li>
              <li {% if method == 'decay5' %}class="active"{% endif %}><a href="/decay5/{{ tags }}">A Week</a></li>
              <li {% if method == 'decay6' %}class="active"{% endif %}><a href="/decay6/{{ tags }}">A Month</a></li>
              <li {% if method == 'decay7' %}class="active"{% endif %}><a href="/decay7/{{ tags }}">Few Months</a></li>
              <li {% if method == 'decay8' %}class="active"{% endif %}><a href="/decay8/{{ tags }}">A Year</a></li>
              <li {% if method == 'votes' %}class="active"{% endif %}><a href="/votes/{{ tags }}">All-time</a></li>
          </ul>
          </li>
     
            <form id="reservation">
          <label for="minbeds">Minimum number of beds</label>
            <select name="minbeds" id="minbeds">
              <option>1</option>
              <option>2</option>
            <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
        </form>
-->
<!--
              <li>
          <a href="#">Time Period<i class="icon-time"></i></a>
          <ul class="nav nav pills" style="border:1px solid gray">
              <li {% if method == 'decay1' %}class="active"{% endif %}><a href="/decay1/site/{{ domain }}">30 mins</a></li>
              <li {% if method == 'decay2' %}class="active"{% endif %}><a href="/decay2/site/{{ domain }}">Few hours</a></li>
              <li {% if method == 'decay3' %}class="active"{% endif %}><a href="/decay3/site/{{ domain }}">A day</a></li>
              <li {% if method == 'decay4' %}class="active"{% endif %}><a href="/decay4/site/{{ domain }}">3 Days</a></li>
              <li {% if method == 'decay5' %}class="active"{% endif %}><a href="/decay5/site/{{ domain }}">A Week</a></li>
              <li {% if method == 'decay6' %}class="active"{% endif %}><a href="/decay6/site/{{ domain }}">A Month</a></li>
              <li {% if method == 'decay7' %}class="active"{% endif %}><a href="/decay7/site/{{ domain }}">Few Months</a></li>
              <li {% if method == 'decay8' %}class="active"{% endif %}><a href="/decay8/site/{{ domain }}">A Year</a></li>
              <li {% if method == 'votes' %}class="active"{% endif %}><a href="/votes/site/{{ domain }}">All-time</a></li>
          </ul>
          </li>
  endif tag
          </ul>
           </div>
-->
     

<!--  FOR LIST
                    <div class="URL_description">
                      {{ post.summary|default_if_none:"" }}
                    </div>
-->
    <!--
              <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="favorite" />
                <button class="btn btn-mini const-width {% if post.slug in favorite %}btn-success{% endif %}" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Favorite    
                  </button>
              </form>
    
              <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="share" />
              </form>
              
     -->

   
<!--    RIGHT SIDEBAR         
         <div class="well">
          <div class="span3">
            <p style="border:1px dashed blue">primary of tag header</p>
          </div>
        </div>
        -->



<script>
// NIKOS
!function ($) {
        //caching all the "tr" objects so that gain a better performance.

        var $tableRows = $('table>tbody>tr');
        //hide all the all the select & vote lines
        $tableRows.find("td>div").css('visibility','hidden');
        $(function () {
            $tableRows.hover(function () {
                //Copy html from td>div to the well
                //Show the well
                //when mouse is on, animate it via 'fadeout'
                $(this).find("td>div").css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0},300);
            }, function () {
                //by the same token, fade it out when mouse is out.
                $(this).find("td>div").css({opacity: 1.0, visibility: "hidden"}).animate({opacity: 0.0},500);
            });
        });
    }(window.jQuery);
    
!function ($) {
        var $tableRows = $('table>tbody>tr>.URL_description');
        $tableRows.find("td>div").css('visibility','visible');
        $(function () {
            $tableRows.hover(function () {
                //when mouse is on, animate it via 'fadeout'
                $(this).find("td>div").css({opacity: 0.0, visibility: "hidden"}).animate({opacity: 1.0},300);
            }, function () {
                //by the same token, fade it out when mouse is out.
                $(this).find("td>div").css({opacity: 1.0, visibility: "visible"}).animate({opacity: 0.0},500);
            });
        });
    }(window.jQuery);

// option value append
//function setLocation(elm, baseUrl) {
  //  var keyword = elm.options[elm.selectedIndex].value; // Gets the selected keyword 
    //window.location = 'http://intabeta.com/' + keyword + '/'; // Redirects
// };

/*

$('.brian_subnav--reltags').toggleClass(function() {
  if ($(this).is('.show_subnav')) {
    $(".brian_subnav--reltags").removeClass("show_subnav");
  } else {
    $(".brian_subnav--reltags").addClass("show_subnav");
  }
   $(".brian_nav").mouseenter(function(){
    $(".brian_subnav--reltags").removeClass("show_subnav");
  });
});


I need if logic so if the class is applied, #reltags would removeClass

$(document).ready(function(){
  $("#reltags").mouseenter(function(){
    $(".brian_subnav--reltags").toggleClass("show_subnav");
  });
  $(".brian_subnav--reltags").hasClass("show_subnav"){
    $(".brian_nav").mouseenter(function(){
        $(".brian_subnav--reltags").toggleClass("show_subnav");
      });
  });
});
*/


$(document).ready(function(){
  $("#reltags").mouseenter(function(){
    $(".brian_subnav--reltags").addClass("show_subnav");
  });
 $(".brian_nav").mouseenter(function(){
    $(".brian_subnav--reltags").removeClass("show_subnav");
  });
});

$(document).ready(function(){
  $("#toptags").mouseenter(function(){
    $(".brian_subnav--toptags").addClass("show_subnav");
  });
 $(".brian_nav").mouseenter(function(){
    $(".brian_subnav--toptags").removeClass("show_subnav");
  });
});

$(document).ready(function(){
  $("#mytags").mouseenter(function(){
    $(".brian_subnav--mytags").addClass("show_subnav");
  });
 $(".brian_nav").mouseenter(function(){
    $(".brian_subnav--mytags").removeClass("show_subnav");
  });
});

$(document).ready(function(){
  $("#signup").mouseenter(function(){
    $(".brian_subnav--signup").addClass("show_subnav");
  });
 $(".brian_nav").mouseenter(function(){
    $(".brian_subnav--signup").removeClass("show_subnav");
  });
});

$(document).ready(function(){
  $("#signin").mouseenter(function(){
    $(".brian_subnav--signin").addClass("show_subnav");
  });
 $(".brian_nav").mouseenter(function(){
    $(".brian_subnav--signin").removeClass("show_subnav");
  });
});


$(document).ready(function(){
  $("#user_nav").mouseenter(function(){
    $(".brian_subnav--user").addClass("show_subnav");
  });
 $(".brian_nav").mouseenter(function(){
    $(".brian_subnav--user").removeClass("show_subnav");
  });
});

$(document).ready(function(){
  $("#topsites").mouseenter(function(){
    $(".brian_subnav--top_sites").toggleClass("show_subnav");
  });
});

$(document).ready(function(){
  $(".add_tags").click(function(){
    $(".brian_subnav--add_tags").toggleClass("show_subnav");
  });
});


/*
$(function() {
    var select = $( "#minbeds" );
    var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
      min: 1,
      max: 6,
      range: "min",
      value: select[ 0 ].selectedIndex + 1,
      slide: function( event, ui ) {
        select[ 0 ].selectedIndex = ui.value - 1;
      }
    });
    $( "#minbeds" ).change(function() {
      slider.slider( "value", this.selectedIndex + 1 );
    });
  });
  
  
  // jQuery UI
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
    $(function() {
    $( "#accordion2" ).accordion({
      collapsible: true
    });
  });  
  $(function() {
    $( "#accordion3" ).accordion({
      collapsible: true
    });
  });  
  $(function() {
    $( "#accordion4" ).accordion({
      collapsible: true
    });
  });
  $(function() {
    $( "#menu" ).menu();
  });

$(function() {
    $( "#draggable" ).draggable();
  });
$(function() {
    $( "#draggable2" ).draggable();
  });
  
$(function() {
  $('#sign_up').modal({
      keyboard: false
  });
      $('#sign_up').modal('toggle');
      $('#sign_up').modal('show');
      $('#sign_up').modal('hide');
});
*/
  
</script>

</body>
</html>

































