{% load i18n %}
{% load humanize %}
{% load thumbnail %}
{% load content_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inta: Know the Best</title>
<!-- Learn META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://twimg0-a.akamaihd.net/profile_images/2590228053/labo2kw9b0zlzvic458r.jpeg" type="image/x-icon" />


    <link href="{{ STATIC_URL }}css/bootstrap1.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<!-- Learn APPLE touch, and STATIC URL -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">

<script type="text/javascript">

// jQuery UI
$(function() {
    $( "#accordion" ).accordion({
      event: "click hoverintent"
    });
  });
$(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
$(function() {
    $( "#accordion2" ).accordion({
      event: "click hoverintent"
    });
  });
$(function() {
    $( "#accordion2" ).accordion({
      collapsible: true
    });
  });
  $(function() {
    $( "#accordion3" ).accordion({
      event: "click hoverintent"
    });
  });
    $(function() {
    $( "#accordion4" ).accordion({
      event: "click hoverintent"
    });
  });
$(function() {
    $( "#accordion3" ).accordion({
      collapsible: true
    });
  });
$.event.special.hoverintent = {
    setup: function() {
      $( this ).bind( "mouseover", jQuery.event.special.hoverintent.handler );
    },
    teardown: function() {
      $( this ).unbind( "mouseover", jQuery.event.special.hoverintent.handler );
    },
    handler: function( event ) {
      var currentX, currentY, timeout,
        args = arguments,
        target = $( event.target ),
        previousX = event.pageX,
        previousY = event.pageY;
 
      function track( event ) {
        currentX = event.pageX;
        currentY = event.pageY;
      };
 
      function clear() {
        target
          .unbind( "mousemove", track )
          .unbind( "mouseout", clear );
        clearTimeout( timeout );
      }
 
      function handler() {
        var prop,
          orig = event;
 
        if ( ( Math.abs( previousX - currentX ) +
            Math.abs( previousY - currentY ) ) < 7 ) {
          clear();
 
          event = $.Event( "hoverintent" );
          for ( prop in orig ) {
            if ( !( prop in event ) ) {
              event[ prop ] = orig[ prop ];
            }
          }
          // Prevent accessing the original event since the new event
          // is fired asynchronously and the old event is no longer
          // usable (#6028)
          delete event.originalEvent;
 
          target.trigger( event );
        } else {
          previousX = currentX;
          previousY = currentY;
          timeout = setTimeout( handler, 25 );
        }
      }
 
      timeout = setTimeout( handler, 25 );
      target.bind({
        mousemove: track,
        mouseout: clear
      });
    }
  };



$(function() {
    $( "#draggable" ).draggable();
  });
$(function() {
    $( "#draggable2" ).draggable();
  });


</script>    

<style type="text/css">
.well {
  background:#FFFFFF;
  opacity:0.9;
  }
#rb {
  margin-top: 40px;
}
#lb {
  margin-top: 40px;
} 
h4 {
  color:black;
}
#draggable { 
  width: 150px; height: 150px; padding: 0.5em; 
}
#brand { 
  margin-left:8px;
}
.side {
  margin: 4px;
}
.delete_tag {
  display:inline;
}
#contentbox:hover + #controls {
    display: block;
}
.button-form {
    margin: 0px;
    display: inline;
    padding-right: 3px;
}

</style>
    
</head>
  
<body style="background:#ddf"> 
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inverse">
      <div class="navbar-inner">    
          <a class="brand" id="brand" href="/"><strong>inta</strong></a>
          <form class="navbar-search pull-left">
              {% csrf_token %}
          <input type="text" class="search-query" placeholder="Search tags or text">
      </form>
          {% if user.id %}
              <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user"></i> {{ user }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/{{ user }}/">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Good</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Great</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Favorites</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/{{ user }}/">My Shared</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/signout/">Sign Out</a></li>
                </ul>   
              </div>
          {% else %}
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Sign Up
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/accounts/signup/">{% trans "Sign Up" %}</a></li>
              <li class="divider"></li>
              <li><a href="/accounts/signin/">{% trans "Sign In" %}</a></li>
            </ul>
          </div>  
            
          {% endif %}

        <div class="nav-collapse">  
            <ul class="nav">          
              <li{% ifequal request.path '/content/submit/' %} class="active"{% endifequal %}><a href="/content/submit/">Submit Content</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <br>
  
    <div class="row">
      <div class="span3 offset1" id="lb">
        <div class="well">
          <div id="accordion">
<!--  id="draggable"  id="draggable2"  id="draggable3" -->
            <h4> Top Tags <i class="icon-circle-arrow-down"></i></h4>
            <ul class="nav nav-pills">
                {% for tag in toptags %}<li><a href="/brianplays/decay1/{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</a></li>{% endfor %}
            </ul>
            </div>
          <div id="accordion2"  class="clearfix">
            <h4> Relevant Tags <i class="icon-circle-arrow-down"></i></h4>
            <ul class="nav nav-pills">
                {% for tag in toprelevant %}<li><a href="/brianplays/decay1/{{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</a></li>{% endfor %}
            </ul>
           </div>
           <div id="accordion3"  class="clearfix">
              <h4>  My Tags  <i class="icon-circle-arrow-down"></i></h4>
              <ul class="nav nav-pills">
                  {% for tag in mytags %}<li><a href="/brianplays/decay1/{{ tag }}">{{ tag }}</a>    
                  <form action="" method="post" class="button-form">
                      {% csrf_token %}
                      <input type="hidden" name="mytag_x" value="{{ tag }}" />
                      <input type="hidden" name="action" value="delete_mytag" />
                      <button type="submit" class="close">&times;</button></li>
                  </form>
                  {% endfor %}
              </ul>
           </div>
           <ul class="nav nav-pills">
            <li {% if method == 'decay1' %}class="active"{% endif %}><a href="/brianplays/decay1/{{ tags }}"><i class="icon-time"></i>30 mins</a></li>
              <li {% if method == 'decay2' %}class="active"{% endif %}><a href="/brianplays/decay4/{{ tags }}"><i class="icon-time"></i>3 Days</a></li>
              <li {% if method == 'votes' %}class="active"{% endif %}><a href="/brianplays/votes/{{ tags }}"><i class="icon-ok"></i></a></li>
           </ul>
           <div>
            <h4> To Share </h4>
            <ul>
                {% for URL in URL_share %}<li>{{ URL_share }}</li>{% endfor %}
                <li> Sharing List, buttons to modals </li>
                <li> { for URL in URL_share } </li>
            </ul>
             <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="email_modal" />
                <button class="btn btn-mini const-width" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Email    
                  </button>
              </form>
               <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="FB_modal" />
                <button class="btn btn-mini const-width" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Facebook    
                  </button>
              </form>
               <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="Tw_modal" />
                <button class="btn btn-mini const-width" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Twitter    
                  </button>
              </form>
            </div>
        </div>
        
     </div>
   
   
         <!--       <div class="well">
          <div class="span3">
            <p style="border:1px dashed blue">primary of tag header</p>
          </div>
        </div>
        -->
     <div class="span7 well" id="rb">
       <h2>Inta: {% for tag, slug in breadcrumbdata %} <a href="/tags/decay1/{{ slug }}/" style="color:inherit">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h2>
        <form action="" method="post" class="button-form">
            {% csrf_token %}
            <input type="hidden" name="tags" value="{{ tags }}" />
            <input type="hidden" name="action" value="addfavtag" />
            <button class="btn btn-success btn-mini" type="submit"><i class="icon-plus icon-white"></i></button>
          </form>
          <table class="table table-condensed">
            <tbody>
              {% if postdata %}
              {% for post, score, tagscores in postdata %}
              <tr>
              <td>
                <a href="http://{{ post.domain }}" target="_blank" >
                <img style="max-width: 40px;" src="{{ MEDIA_URL }}{{ post.logo|default:"site_logos/default.png" }}" width="40" title="{{ post.domain }}" alt="{{ post.title }}" />
                </a>
              </td>
              <td>
                <span class="badge {{ post.date_added|bubble_color }}">{{ score }}</span>&nbsp;
                  <a href="{{ post.url }}" onClick="_gaq.push(['_trackEvent', 'Nikos GA?', 'Link', '{{ post.title }}']);" class="main-link" target="_blank">
                  {% if post.title == "Untitled" %}
                    {{ post.url }}
                  {% else %}
                    {{ post.title }}
                  {% endif %}
                  </a>
                  &nbsp;{{ post.date_added|date:"M j" }}
                  <br />
                  {% for tag in tagscores %}
                    <span class="label"><a href="/content/decay1/{{ tags }}|{{ tag.0 }}/" style="color:#FFFFFF;text-decoration:none">  {{ tag.0 }} ({{ tag.1 }})</a></span>
                  {% endfor %}
                  <br />
                  <div style="margin-top: 6px;"> 
                    <div class="URL_description">
                      {{ post.summary|default_if_none:"" }}
                    </div>
              <form action="" method="post" class="button-form">
              {% csrf_token %}
                        <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                        <input type="hidden" name="action" value="vote" />
                        <button class="btn btn-mini const-width {% if post.slug in voter %}btn-success{% endif %}" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                          Good
                        </button>
                    </form>                   
            <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="double_vote" />
                <button class="btn btn-mini const-width {% if post.slug in double_voter %}btn-success{% endif %}" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Great    
                  </button>
              </form>
              <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="favorite" />
                <button class="btn btn-mini const-width {% if post.slug in favorite %}btn-success{% endif %}" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Favorite    
                  </button>
              </form>
              <form action="" method="post" class="button-form">
              {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{ post.slug }}" />
                <input type="hidden" name="action" value="share" />
                <button class="btn btn-mini const-width" {% if post.slug in voter or post.slug in double_voter %}disabled="disabled"{% endif %} type="submit">
                  Share    
                  </button>
              </form>
        </div>
       </td>
       </tr>
       {% endfor %}
             {% else %}
          <tr>
          <td>
          We've got no URLs for that Tag. Want to make the first?
          </td>
          </tr>
            {% endif %}
          </tbody>
        </table>
        <hr />
      </div>
    </div>


<script>

// NIKOS
!function ($) {
        //caching all the "tr" objects so that gain a better performance.

        var $tableRows = $('table>tbody>tr');
        //hide all the all the select & vote lines
        $tableRows.find("td>div").css('visibility','hidden');
        $(function () {
            $tableRows.hover(function () {
                //when mouse is on, animate it via 'fadeout'
                $(this).find("td>div").css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0},300);
            }, function () {
                //by the same token, fade it out when mouse is out.
                $(this).find("td>div").css({opacity: 1.0, visibility: "hidden"}).animate({opacity: 0.0},500);
            });
        });
    }(window.jQuery);
    
!function ($) {
        var $tableRows = $('table>tbody>tr>.URL_description');
        $tableRows.find("td>div").css('visibility','visible');
        $(function () {
            $tableRows.hover(function () {
                //when mouse is on, animate it via 'fadeout'
                $(this).find("td>div").css({opacity: 0.0, visibility: "hidden"}).animate({opacity: 1.0},300);
            }, function () {
                //by the same token, fade it out when mouse is out.
                $(this).find("td>div").css({opacity: 1.0, visibility: "visible"}).animate({opacity: 0.0},500);
            });
        });
    }(window.jQuery);

</script>

</body>
</html>









