{% load i18n %}
{% load humanize %}
{% load thumbnail %}
{% load content_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inta: Know the Best</title>
<!-- Learn META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://twimg0-a.akamaihd.net/profile_images/2590228053/labo2kw9b0zlzvic458r.jpeg" type="image/x-icon" />


    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap1.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">

    </style>

<!-- Learn APPLE touch, and STATIC URL -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">

    {% block extrahead %}{% endblock %}
  </head>
  <body>

  	<div class="row-fluid">
  		<div class="well span3">
  			<p>test well in div</p>
  		</div>
  		<div class="span6">
  			<p class="well">test well in p</p>
  		</div>
  		<div class="span3">
  			<p style="border: 1px dashed blue">test border</p>
  		</div>
  	</div>
  </body>
  </html>





















