<html>
<head>
<script type="text/javascript">
var canvas = document.getElementById("myCanvas");
var width = 600;
var height = 600;
var ctx;
var linkText="http://intabeta.com";
var X;
var Y;
var points={% autoescape off %}{{ points }}{% endautoescape %};
var edges={{ edges }};
var forces=points.map(function(p) { return [0,0]; });
var velocities=points.map(function(p) { return [0,0]; });
var rad = 3;
var inLink = false;
var link=0;
var drawpoints = points;
var selected = -1;
var oldpoint = [0,0];
var minx = 0;
var maxx = 0;
var miny = 0;
var maxy = 0;
var xrange = 0;
var yrange = 0;
var r = 0;
var damp = 30;

function min(array) {
    return Math.min.apply(null,array);
}
function max(array) {
    return Math.max.apply(null,array);
}

function arrangepoints() {
  var l = points.length;
  for (i=0; i<l; i++) {
    var p = points[i];
    p[0] = width/2 + 20*Math.cos(2*Math.PI*i/l);
    p[1] = height/2 + 20*Math.sin(2*Math.PI*i/l);
    points[i] = p;
  }
}

// draw the nodes and edges
function draw() {
  canvas = document.getElementById("myCanvas");
  // check if supported
  if(canvas.getContext) {
    if (selected >= -1) {
      minx = min(points.map(function(point) {return point[0];}));
      maxx = max(points.map(function(point) {return point[0];}));
      miny = min(points.map(function(point) {return point[1];}));
      maxy = max(points.map(function(point) {return point[1];}));
      minx -= 0.1*Math.abs(minx);
      maxx += 0.1*Math.abs(maxx);
      miny -= 0.1*Math.abs(miny);
      maxy += 0.1*Math.abs(maxy);
      xrange = maxx - minx;
      yrange = maxy - miny;
      r = Math.max(xrange,yrange);
    }
    drawpoints = points.map(function(point) { return [(point[0]-minx+0.5*(r-xrange))*width/r,(point[1]-miny+0.5*(r-yrange))*height/r]; });
    //console.log(xrange,yrange);

    ctx=canvas.getContext("2d");

    //clear canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    //draw edges
    
    for (i=0;i<edges.length;i++) {
      ctx.beginPath();
      ctx.strokeStyle='rgba(0,0,0,'+String(edges[i][2]/50)+')';
      X1=drawpoints[edges[i][0]][0];
      Y1=drawpoints[edges[i][0]][1];
      X2=drawpoints[edges[i][1]][0];
      Y2=drawpoints[edges[i][1]][1];
      ctx.moveTo(X1,Y1);
      ctx.lineTo(X2,Y2);
      ctx.stroke();
      ctx.closePath();
    }
    

    //draw the nodes
    ctx.fillStyle = "#9999ff";
    ctx.beginPath();
    for (i=0;i<points.length;i++) {
      X=drawpoints[i][0];
      Y=drawpoints[i][1];
      rad = 2*Math.log(points[i][3]+4);
      ctx.moveTo(X+rad,Y);
      if (i==link && selected != -1) {
        ctx.arc(X,Y,rad+1,0,Math.PI*2,true);
      } else {
        ctx.arc(X,Y,rad,0,Math.PI*2,true);
      }
    }
    ctx.fill();

    //add mouse listeners
    canvas.addEventListener("mousemove", on_mousemove, false);
    canvas.addEventListener("mousedown", on_down, false);
    canvas.addEventListener("mouseup", on_up, false);

  }
}

//check if the mouse is over the link and change cursor style
function on_mousemove (ev) {
  var x, y;

  // Get the mouse position relative to the canvas element.
  if (ev.layerX || ev.layerX == 0) { //for firefox
    x = ev.layerX;
    y = ev.layerY;
  }
  // x-=canvas.offsetLeft;
  // y-=canvas.offsetTop;
  if (selected != -1) {
    var dx = r*(x-oldpoint[0])/2000;
    var dy = r*(y-oldpoint[1])/2000;
    points[link][0] += dx;
    points[link][1] += dy;
    oldpoint[0] += dx;
    oldpoint[1] += dy;
    draw();
  }

  //is the mouse over the link?
  if (selected == -1) {
    document.body.style.cursor = "";
    inLink=false;
    for (i=0;i<drawpoints.length;i++) {
      X=drawpoints[i][0];
      Y=drawpoints[i][1];
      rad = 2*Math.log(points[i][3]+4);
      if (x >= (X - rad) && x <= (X + rad) && y<=(Y+rad) && y>= (Y-rad)){
          document.body.style.cursor = "pointer";
          inLink=true;
          link=i;
          document.getElementById("tag").innerHTML="tag: "+String(points[link][2])+' ('+String(points[link][3])+')';
      }
    }
  }
  
}

function update() {
  for (i=0; i<points.length; i++) {
    var p = points[i];
    var v = velocities[i];
    var f = forces[i];
    if (selected == -1 || i != link) {
      v[0] += f[0]/100;
      v[1] += f[1]/100;
      p[0] += v[0];
      p[1] += v[1];
    }
    f[0] = -v[0]*damp; //resets forces and adds damping force
    f[1] = -v[1]*damp;

    var dx = p[0]-width/2; //attach each point to a weak, invisible spring connected to the center
    var dy = p[1]-height/2;
    var d = Math.pow(Math.pow(dx,2) + Math.pow(dy,2),0.5);
    var s = 0.8*(1-10/(0.03*d));
    f[0] -= s*dx;
    f[1] -= s*dy;

    var p1 = [0,0]; //repel the points from eachother
    for (j=0; j<points.length; j++) {
      if (j != i) {
        p1 = points[j];
        d=Math.pow(Math.pow(p[0]-p1[0],2) + Math.pow(p[1]-p1[1],2),1.5);
        f[0]+=300000*(p[0]-p1[0])/d;
        f[1]+=300000*(p[1]-p1[1])/d;
      }
    }
    forces[i] = f;
  }
  for (i=0; i<edges.length; i++) {
    var e = edges[i];
    var p = points[e[0]];
    var p1 = points[e[1]];
    var f = forces[e[0]];
    var f1 = forces[e[1]];
    var dx = p[0]-p1[0]; //update force due to springs
    var dy = p[1]-p1[1];
    var d = Math.pow(Math.pow(dx,2) + Math.pow(dy,2),0.5);
    var s = 0.8*(1-10/(e[2]*d));
    f[0] -= s*dx;
    f[1] -= s*dy;
    f1[0] += s*dx;
    f1[1] += s*dy;
    forces[e[0]] = f;
    forces[e[1]] = f1;
  }

  draw();
  setTimeout(update,5);
}

//if the link has been clicked, go to link
function on_click(e) {
  if (inLink)  {
    console.log(link);
  }
}

function on_down(e) {
  if (inLink) {
    selected = link;
    oldpoint = drawpoints[link];
    console.log(link);
  }
}

function on_up(e) {
  selected = -1;
  draw();
}
</script>
</head>
<body onload="draw(); update()" style="background-color: #ddf">
  <div style="display:inline-block; float:left; margin-left: 20px; margin-top: 20px">
    <p style="font-size: 14px; font-weight:bold; width: 400px; float:left;">We're playing with a "universe" type view to see all of Inta's web. Each dot is a tag, while the threads attaching them get darker as more URLs share the two tags. </p>
    <br/>
    <p style="font-size: 14px; font-weight:bold; width: 400px; float:left"> This is rough but let us know if you like the idea. <a href="mailto:christopher.shriver@yale.edu?subject=The Inta Universe"> christopher.shriver@yale.edu</a> is the architect </p>
  </div>
  <div style="display:inline-block; margin-left: 40px; margin-top: 20px">
    <center>
    <canvas id="myCanvas" width="600" height="600" style="border: 1px solid black; background-color:white;">Canvas not supported.</canvas>
    <br/>
    <div id='tag'></div>
    </center>
  </div>
</body>
</html>