<html>
<head>
<script type="text/javascript">
var canvas = document.getElementById("myCanvas");
var ctx;
var linkText="http://intabeta.com";
var X;
var Y;
var points={{ points }};
var edges={{ edges }};
var rad = 4;
var inLink = false;
var link=0;

// draw the edges and nodes
function draw(){
  canvas = document.getElementById("myCanvas");
  if(canvas.getContext){

    ctx=canvas.getContext("2d");

    //clear canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    //draw edges
    for (i=0;i<edges.length;i++) {
      ctx.beginPath();
      ctx.strokeStyle='rgba(0,0,0,'+String(edges[i][2]/100)+')';
      X1=points[edges[i][0]][0];
      Y1=points[edges[i][0]][1];
      X2=points[edges[i][1]][0];
      Y2=points[edges[i][1]][1];
      ctx.moveTo(X1,Y1);
      ctx.lineTo(X2,Y2);
      ctx.stroke();
      ctx.closePath();
    }

    //draw the nodes
    ctx.fillStyle = "#9999ff";
    ctx.beginPath();
    for (i=0;i<points.length;i++) {
      X=points[i][0];
      Y=points[i][1];
      ctx.moveTo(X+rad,Y);
      ctx.arc(X,Y,rad,0,Math.PI*2,true);
    }
    ctx.fill();

    //add mouse listeners
    canvas.addEventListener("mousemove", on_mousemove, false);
    canvas.addEventListener("click", on_click, false);

  }
}

//check if the mouse is over the link and change cursor style
function on_mousemove (ev) {
  var x, y;

  // Get the mouse position relative to the canvas element.
  if (ev.layerX || ev.layerX == 0) { //for firefox
    x = ev.layerX;
    y = ev.layerY;
  }
  x-=canvas.offsetLeft;
  y-=canvas.offsetTop;

  //is the mouse over the link?
  document.body.style.cursor = "";
  inLink=false;
  for (i=0;i<points.length;i++) {
    X=points[i][0];
    Y=points[i][1];
    if (x >= (X - rad) && x <= (X + rad) && y<=(Y+rad) && y>= (Y-rad)){
        document.body.style.cursor = "pointer";
        inLink=true;
        link=i;
    }
  }
  
}

//if the link has been clicked, go to link
function on_click(e) {
  if (inLink)  {
    window.location = linkText+String(link);
  }
}
</script>
</head>
<body onload="draw()">
<center>
<canvas id="myCanvas" width="300" height="300" style="border-style:solid;border-width:1px">Canvas not supported.</canvas>
</center>
</body>
</html>