{% extends "base.html" %}
{% load humanize %}
{% load thumbnail %}
{% load content_extras %}

{% block side2 %}
{% endblock %}
{% block side3 %}
{% if user.id %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list legend">
              <li class="nav-header">Plugin</li> </ul>
              <p style="padding: 3px 15px;">
             <a class="btn btn-info" href="javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open('http://intabeta.com/content/submit_plugin/?op=edit&output=popup&bkmk='+c(b.location)+'&title='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=200px,width=500px,resizable=1,alwaysRaised=1');a.setTimeout(function(){d.focus()},300)})();">INTA plugin</a></p><p style="padding: 0px 15px;">Drag the INTA plugin into your browser's bookmark bar to create a submission shortcut, allowing you to quickly help the lists without changing pages</p>
             


           
          </div><!--/.well -->
{% endif %}
{% endblock %}

{% block content %}

{{ block.super }}

<h2>What's hot in Inta right now</h2>

<table class="table table-striped">
<tbody>
{% if hot %}
{% for post in hot %}
<tr>
<td>

<a href="http://{{ post.domain }}" target="_blank" >
<img style="max-width: 100%; min-width: 25%;" src="{{ MEDIA_URL }}{{ post.logo|default:"site_logos/default.png" }}" width="100" title="{{ post.domain }}" alt="{{ post.title }}" />
</a>
	
</td>
<td>
<a href="{{ post.url }}" class="main-link" target="_blank">{{ post.title }}</a>
<br />
{{ post.summary|default_if_none:"No summary available." }}...          

<br />
    Submitted {{ post.date_added|naturaltime }}, from <a href="http://{{ post.domain }}" target="_blank">{{ post.domain }}</a> to
    our Interest Group <a href="/content/ig/{{ post.ig.slug }}/votes/">{{ post.ig }}</a>.    

</td>

</tr>
{% endfor %}
{% else %}
<tr><td>There are no entries that match your search criteria</td></tr>
{% endif %}
</tbody>
</table>

{% endblock %}