{% extends "content/base_content.html" %}

{% block content_title %}<h2>How To</h2>{% endblock %}

{% block content %}

<h3>The List</h3>
<p>In the list, clicking on the black button beside the date makes an article’s description appear, along with the ability to post or double post.  Links bring you to the article, and change colors after you have clicked them so you can keep track of what you have read.</p>

<h3>The Sorting</h3>
<h4>By Votes</h4>
<p>This one is basic.  It ranks the content from most votes to fewest.  Use it to see the best content, regardless of when it was posted.</p>

<h4>By Relevancy</h4>
<p>Most to fewest, but now we take into account that older articles are probably not as relevant.  We discount their post value according to their age so it shows more of today's great stuff than all-time’s.</>
<h4>By Growth</h4>
<p>Helps newer articles stand out even if others are already popular that day.  We rank from most to least with growth being its increase in posts over the last 45 minutes, compared to its previous post count.  There is also a minimum post count to qualify so only good growth appears.</p>
<h4>By Color</h4>
<p>Choose one or more colors to narrow what we show you within any of the three ranking types.  If you covered the list a few days ago, for example, have only Green and Yellow appear.</p>

<h3>Submitting Content</h3><p>You can only submit to lists that are in your My Groups so we know you care about the topic.  The plugin acts as a shortcut so you can submit while staying on your page, it does not track you or do anything that should make you feel uncomfortable.  You can also copy paste links to our site directly.  Remember that for blogs, rather than submitting from the main page, you need to click on the post’s title to get to its unique page.</p>
  
<h3>Giving Us Feedback</h3>
<p>On most pages we have both a Recommendations link for more lists, and a Suggestions link for features.  For lists just put in the name, and a description if we won’t understand.  Suggestions can come in any form, but they are easier to read when they are shorter!</p>


{% endblock %}

{% block side2 %}
{% endblock %}
{% block side3 %}
{% endblock %}