{% extends "content/base_content.html" %}

{% block content_title %}<h2>Our mission</h2>{% endblock %}

{% block content %}


<p>In a mobile age, the Internet gives our team anxiety.  Our daily four or five sites only have content to satisfy us for so long, while Twitter and Facebook have endless amounts but can feel like time-fillers to avoid being bored.  We want to build a place you can check anytime, numerous times, to find great content about the topics you care about.  We also want to be your source for new topics, with passionate communities guiding you.  It’s all about making the internet friendly again, letting you tap its best to learn, laugh, explore, whatever feeling or goal you have.  
	
</p>

<p>Our system relies upon your contributions, but as you give, we can give even more back.  And this is only our first step, if you keep helping us provide the best we have some big ideas for how to make it better!  </p>

{% endblock %}

{% block side2 %}
{% endblock %}
{% block side3 %}
{% endblock %}