{% extends "content/base_content.html" %}

{% block content_title %}<h2>A Note on Privacy</h2>{% endblock %}

{% block content %}


<p>We hate that Facebook and Google make us worry about our data being exploited.  At Inta we don't intend on any of that, keeping you completely anonymous within our system.  If the day comes when this changes, we will let you know in everyday language, not in annoying contractual text, but for now we are focused entirely on enabling you to appreciate and add to the Inta experience.  
	
</p>

<p>Send us any questions if you have concerns, but we hope we have removed those worries.  Browse freely!</p>

{% endblock %}

{% block side2 %}
{% endblock %}
{% block side3 %}
{% endblock %}