{% extends "content/base_content.html" %}

{% block content_title %}<h2>A Note on Privacy</h2>{% endblock %}

{% block content %}


<p>We hate that Facebook and Google make us worry about our data and browsing habits being exploited.  At Inta we don't intend on any of that, keeping you completely anonymous within our system so you can contribute without worry. If the day comes when our intentions change, we will let you know in understandable, everyday language, explaining both how and why. 
<p> But for now we are focused entirely on enabling you to appreciate and add to the Inta experience. We therefore hope to create as little self-consciousness about contributing, about being an Intelligentsia, as possible so if you still have questions or doubts please send an email and <button> <a href="mailto:brian@intabeta.com" target="_blank>">let us help you address them!</a></button><p>
{% endblock %}

{% block side2 %}
{% endblock %}
{% block side3 %}
{% endblock %}