{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inta: Know the Best</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="{{ STATIC_URL }}css/bootstrap1.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    
    <style type="text/css">
.container {
	margin-top: 15px;
}
.hero-unit {
	background:#ddf;
}
h3 {
	color:black;
}
h2 {
	color:black;
}
p {
	font-size: 12px;
}
#bigger {
	font-size: 14px;
}

	</style>
</head>

<body>

<div class="container">

      <div class="hero-unit">
        <h1>Inta <small> beta <small></h1>
        <dl class="dl-horizontal">
  			<dt>Founded by</dt>
  			<dd>Brian Loeb</dd>
  			<dt>with</dt>
  			<dd>Christopher Shriver</dd>
  			<dt>and</dt>
  			<dd>Alex Reinking</dd>
		</dl>
		<p> Excited to launch with the Yale community in the coming weeks! Leave your email to be among our first users</p>
       	<div class="row-fluid">
			<div class="span4">
			<form action="" method="post" class="input-large" class="span4">
				{% if failed %}
					{% if reason == 'invalid' %}
						{% if email == '' %}
							Please enter an email address: <br />
						{% else %}
							It appears that email you entered ({{ email }}) was invalid. <br />
						{% endif %}
					{% else %}
						The email you entered ({{ email }}) has already been entered into our database. <br />
					{% endif %}
				{% endif %}
				{% csrf_token %}
				{{ form.email.errors }}
				{{ form.email }}
				<br />
				<button type="submit" name="_post" value="post" class="btn btn-primary">{% trans "Keep me updated" %}</button>
			</form>
			</div>
		</div>
    </div>

      <!-- Example row of columns -->
      <div class="container">
      <h2> What we do </h2>
      <p id="bigger"> We each have found inspiring articles, essays, and videos online, whether on our favorite blog or the NY Times. </p>
      <p id="bigger">Inta uses your contributions - your votes - to bring together the countless links we each find excellent </p>
      <br>
      <h2> How we do it </h2>
      </div>
      <p></p>
      <div class="row">
        <div class="span4">
          <h3>Tags</h3>
          <p>Combine tags to explore topics - familiar and new - in more depth </p>
       </div>
        <div class="span4">
          <h3>Votes</h3>
          <p>We rank links from most votes to least, so every click leads to quality</p>
        </div>
        <div class="span4">
          <h3>Time periods</h3>
          <p>Choose time periods, from minutes to months, to escape the 24/7 cycle</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Inta 2013</p>
      </footer>

</div>

</div>
</body>

</html>