{% load i18n %}

<!-- I need to make it clear... and add collapse... -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inta: Know the Best</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="{{ STATIC_URL }}css/bootstrap1.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    
<style type="text/css">
.container {
  margin-top: 15px;
}
.hero-unit {
  background:#ddf;
}
h3 {
  color:black;
}
h2 {
  color:black;
}
.span4 {
  margin-bottom:0px;
  padding:0px;
}
.space_1 {
  height=100px;
  margin-top=100px;
}
</style>

</head>

<body>

<div class="container">

      <div class="hero-unit">
        <h1>Inta <small> beta - Know the Best <small></h1>
        <dl class="dl-horizontal">
        <dt>Founded by</dt>
        <dd>Brian Loeb</dd>
        <dt>with</dt>
        <dd>Christopher Shriver</dd>
        <dt>and</dt>
        <dd>Alex Reinking</dd>
    </dl>
    <p>Inta uses votes to rank links from around the web, so every click leads to quality. You can also explore topics and time periods in more depth. </p>
    <p>We're having the Yale launch in a couple weeks and looking for your favorite blogs, articles, and videos. Leave your email to be among our first Intelligentsia!</p>
        <div class="row-fluid">
      <div class="span4">
      <form action="" method="post" class="input-large" class="span4">
        {% if failed %}
          {% if reason == 'invalid' %}
            {% if email == '' %}
              Please enter your email address: <br />
            {% else %}
              It appears {{ email }} is invalid. <br />
            {% endif %}
          {% else %}
            The email you entered - {{ email }} - has already been entered <br />
          {% endif %}
        {% endif %}
        {% csrf_token %}
        {{ form.email.errors }}
        {{ form.email }}
        <br />
        <button type="submit" name="_post" value="post" class="btn">{% trans "Keep me updated" %}</button>
      </form>
      </div>
    </div>
    <p> Inta_list_view image </p>
    </div>

<!--
          <div class="space_1" style="border: 1px dashed blue"> Blank </div>



      <div class="container" class="well">
      <br>
      <h2> What</h2>
      <p>Inta uses votes to bring together links - articles, essays, and videos - we each find excellent, whether from your favorite blog or the NY Times</p>
      <h2>How</h2>
      </div>
      <div class="row">
        <div class="span4">
          <h3>Tags</h3>
          <p>Combine tags to explore topics - familiar and new - in more depth </p>
       </div>
        <div class="span4">
          <h3>Votes</h3>
          <p>We rank links from most votes to least, so every click leads to quality</p>
        </div>
        <div class="span4">
          <h3>Time periods</h3>
          <p>Weight votes by minutes, hours, days, weeks, and even months to find the best, not just the recent</p>
        </div>
        </div>
      <div class="container" class="well">
      <h2> Why</h2>
      <p>Because better content is time better spent</p>
      </div>
      
      -->
<!-- 
<p class="action"> We are excited to launch with the Yale community in the coming weeks!</p>
<p>Explore topics - familiar and new - in more depth by combining tags </p>
<p>Every click leads to quality as we rank links from most votes to least</p>
<p>Find the best, not just the recent. Weight votes by minutes, hours, days, weeks, and even months</p>
-->

      <hr>

      <footer>
        <p>&copy; Inta 2013</p>
      </footer>

</div>

</div>
</body>

</html>